{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Resume Form{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="name">First Name:</label>
      <input name="name" id="name">
      <br>
      <label for="name">Last Name:</label>
      <input name="name" id="name">
      <br>
      <label for="name">e-mail:</label>
      <input name="name" id="name">
      <br>
      <label for="name">GPA:</label>
      <input name="name" id="name">
      <br>
      <label for="name">Education:</label>
      <input name="name" id="name">
      <br>
      <label for="name">Experience:</label>
      <input name="name" id="name">
      <br>
      <label for="pic16b">Which template do you prefer?</label>
      <input type="radio" name="student" id="yes" value="yes">
      <label for="yes">1</label>
      <input type="radio" name="student" id="no" value="no">
      <label for="No">2</label>
      <br>
      <input type="submit" value="Submit form">
  </form>
  {% if name %}
  <br>
  {% if student == "yes" %}
  <b>Hello {{name}}!  Do you like PIC16B?</b>
  {% else %}
  <b>Hello {{name}}!  Do you want to take PIC16B?</b>
  {% endif %}
  {% endif %}
{% endblock %}
