{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Resume Form{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if thanks %}
  <br>
  Thanks for submitting the form! 🎉
{% endif %}

{% if error %}
  <br>
  Oh no, we couldn't submit that form! Please try again and make sure to not leave the * sections blank.
{% endif %}

  <form method="post" action="{{ url_for('resume') }}">
      <h2>Contact Information</h2>

      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name">
      <br>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name">
      <br>
      <label for="location">Location (city, STATE):</label>
      <input type="text" name="location" id="location">
      <br>
      <label for="phone">Phone number:</label>
      <input type="text" name="phone" id="phone">
      <br>
      <label for="email">e-mail:</label>
      <input type="text" name="email" id="email">
      <br>

      <h2>Education</h2>

      <label for="school1">First school:</label>
      <input type="text" name="school1" id="school1">
      <br>
      <label for="school1startdate">Starting Date:</label>
      <input type="text" name="school1startdate" id="school1startdate">
      <br>
      <label for="school1enddate">Ending Date:</label>
      <input type="text" name="school1enddate" id="school1enddate">
      <br>
      <label for="school1GPA">GPA:</label>
      <input type="text" name="school1GPA" id="school1GPA">
      <br>
      <label for="school1Relevant_Courses">Relevant Courses:</label>
      <input type="text" name="school1Relevant_Courses" id="school1Relevant_Courses">
      <br>

      <h2>Professional Experience</h2>
      <label for="company1">Company/ Organization Name:</label>
      <input type="text" name="company1" id="company1">
      <br>
      <label for="company1position">Job Title/Position:</label>
      <input type="text" name="company1position" id="company1position">
      <br>
      <label for="company1startdate">Starting Date:</label>
      <input type="text" name="company1startdate" id="company1startdate">
      <br>
      <label for="company1enddate">Ending Date:</label>
      <input type="text" name="company1enddate" id="company1enddate">
      <br>
      <label for="company1experience1">Work Experience (first bullet point):</label>
      <input type="text" name="company1experience1" id="company1experience1">
      <br>
      <label for="company1experience2">Work Experience (second bullet point):</label>
      <input type="text" name="company1experience2" id="company1experience2">
      <br>
      <br>
      <br> <br>
      <label for="company2">Company/ Organization Name:</label>
      <input type="text" name="company2" id="company2">
      <br>
      <label for="company2position">Job Title/Position:</label>
      <input type="text" name="company2position" id="company2position">
      <br>
      <label for="company2startdate">Starting Date:</label>
      <input type="text" name="company2startdate" id="company2startdate">
      <br>
      <label for="company2enddate">Ending Date:</label>
      <input type="text" name="company2enddate" id="company2enddate">
      <br>
      <label for="company2experience1">Work Experience (first bullet point):</label>
      <input type="text" name="company2experience1" id="company2experience1">
      <br>
      <label for="company2experience2">Work Experience (second bullet point):</label>
      <input type="text" name="company2experience2" id="company2experience2">
      <br>

      <h2>Leadership and Achievements</h2>

      <label for="Achievement1">Leadership/ Achievements:</label>
      <input type="text" name="Achievement1" id="Achievement1">
      <br>
      <label for="Achievement1description1">Description (first bullet point):</label>
      <input type="text" name="Achievement1description1" id="Achievement1description1">
      <br>

      <h2>Skills</h2>
      <label for="languages">Languages (please list by separating each language with commas):</label>
      <input type="text" name="languages" id="languages">
      <br>
      <label for="technical_skills">Technical skills (please list by separating each technical skill with commas):</label>
      <input type="text" name="technical_skills" id="technical_skills">
      <br>
      <label for="interests">Interests/Hobbies (please list by separating each interest/hobby with commas):</label>
      <input type="text" name="interests" id="interests">
      <br>

      <center><input type="submit" /></center>
  </form>



{% endblock %}
