{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} If You Need A Jumpstart on Your Job Search!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Hello!</p>

    <p>Fill out this form to get some job recommendations with your new resume!</p>


    <form method="post" enctype="multipart/form-data">
        <label for="job">Desired job:</label><br>
        <input type="text" name="job" id="user_job"> <br>
        <label for="location">Desired location:</label><br>
        <input type="text" name="location" id="user_location"> <br><br>
        <input type="submit" value="Click Me!"> 
    </form>

    {% if current_url %}
    <p> {{user_job}}, {{user_location}} </p>
    {% endif %}


{% endblock %}