{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}How to build your resume{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Lets Build A Resume!</p>

  <h2>Instructions</h2>

  <ul>
    <p><i>Step 1</i>: Fill in your information under the form tab<p>
    <p><i>Step 2</i>: Select your ideal template<p>
    </p><i>Step 3</i>: Review your generated resume<p>
    </p><i>Step 4</i>: Look over the provided job recommendations</p>
  </ul>
  <br>

  <p> <center>🎉 Our goal is to have a working resume for you to get your dream job at or jumpstart your career 🎉 </center></p>
{% endblock %}
