<link href="{{ url_for('static', filename='style1.css') }}" rel='stylesheet' type='text/css'>

<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">{{first_name}}</span> 
      <span class="last-name">{{last_name}}</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">{{email}}</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">{{phone}}</span>
      <span class="separator"></span>
      <span class="location">Location: </span>
      <span class="location">{{location}}</span>
    </div>
  </div>

     <div class="section">
      <div class="section__title">Education</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">{{school1}}</div>
           <div class="text">{{school1startdate}}-{{school1enddate}}</div>
           <div class="text">{{school1GPA}}</div>
           <div class="text">{{school1Relevant_Courses}}</div>
         </div>
       </div>
    </div>

    <div class="section">
      <div class="section__title">Experience</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">{{company1}}</div>
           <div class="text">{{company1position}}</div>
           <div class="text">{{company1startdate}}-{{company1enddate}}</div>
           <div class="text">{{company1experience1}}</div>
           <div class="text">{{company1experience2}}</div>
         </div>
         
         <div class="section__list-item">
            <div class="name">company2</div>
            <div class="text">{{company2position}}</div>
            <div class="text">{{company2startdate}}-{{company2enddate}}</div>
            <div class="text">{{company2experience1}}</div>
            <div class="text">{{company2experience2}}</div>
           </div>
         </div>
       </div>
    </div>

    <div class="section">
      <div class="section__title">Achievements</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">{{Achievement1}}</div>
           <div class="text">{{Achievement1description1}}</div>
         </div>
       </div>
    </div>

     <div class="section">
       <div class="section__title">Skills</div>
       <div class="skills">
         <div class="skills__item">
           <div class="left"><div class="name">
            {{languages}}
             </div></div>
           <div class="right">
                          <input  id="ck1" type="checkbox" checked/>

             <label for="ck1"></label>
                          <input id="ck2" type="checkbox" checked/>

              <label for="ck2"></label>
                         <input id="ck3" type="checkbox" />

              <label for="ck3"></label>
                           <input id="ck4" type="checkbox" />
            <label for="ck4"></label>
                          <input id="ck5" type="checkbox" />
              <label for="ck5"></label>

           </div>
         </div>
         
       </div>
       <div class="skills__item">
           <div class="left"><div class="name">
            {{technical_skills}}</div></div>
           <div class="right">
                          <input  id="ck1" type="checkbox" checked/>

             <label for="ck1"></label>
                          <input id="ck2" type="checkbox" checked/>

              <label for="ck2"></label>
                         <input id="ck3" type="checkbox" />

              <label for="ck3"></label>
                           <input id="ck4" type="checkbox" />
            <label for="ck4"></label>
                          <input id="ck5" type="checkbox" />
              <label for="ck5"></label>

           </div>
         </div>
         
       </div>
     <div class="section">
     <div class="section__title">
       Interests
       </div>
       <div class="section__list">
         <div class="section__list-item">
            {{interests}}
          </div>
       </div>
     </div>
     </div>
  </div>
</div>
<!-- 
<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <body>

        <div class="main_page">
          <div class="content_section_text data">
            
            Name:&nbsp;&nbsp;&nbsp;{{first_name}} <br>
            E-mail:&nbsp;&nbsp;&nbsp;{{email}} <br>
            Phone:&nbsp;&nbsp;&nbsp;{{phone}} <br>
          </div>
          <div class="content_section floating_element">
    
    
            <div class="section_header section_header_grey">
             OBJECTIVE
            </div>
            <div class="content_section_text">
              <p>
                   To seek an entry level position in a growth oriented organization while further enhancing my skills and capabilities.
              </p>
    
    
              
            </div>
            <div class="section_header">
              ACEDEMIA
            </div>
            <div class="content_section_text">
              <table style="width:100%">
      <tr>
        <th>COLLEGE</th>
        <th>duration</th> 
        <th>GPA</th>
        <th>Relevant Courses</th>
      </tr>
      <tr>
        <td>{{school1}}</td>
        <td>{{school1startdate}}-{{school1enddate}}</td>
        <td>{{school1GPA}}</td>
        <td>{{school1Relevant_Courses}}</td>
      </tr>
      <tr>
        <td>This is a test</td>
        <td>{{company1}}</td>
        <td>{{company1position}}</td>
        <td>{{company1experience1}}</td>
        <td>{{company1experience2}}</td>
        
      </tr>
      <tr>
        <td>test</td>
        <td>{{company2}}</td>
        <td>{{company2position}}</td>
        <td>{{company2experience1}}</td>
        <td>{{company2experience2}}</td>
      </tr>
      
     
    </table>
                   
            </div>
    
    
             <div class="section_header">
              PROJECTS UNDERTAKEN
            </div>
            <div class="content_section_text">
              {{interests}}
                   
            </div>
    
             <div class="section_header">
              SKILLS
            </div>
            <div class="content_section_text">
              
                  {{technical_skills}} 
            </div>
    
    
             <div class="section_header">
              HONOUR AND ACHIEVEMENTS
            </div>
            <div class="content_section_text">
              {{Achievement2}}
                   
            </div>
    
    
             <div class="section_header">
              PERSONAL DOSSIER
            </div>
            <div class="content_section_text">
              Languages Known – {{languages}}<br>
                   
            </div>
    
    
    
    
          </div>
        </div>
    
        
      </body>






</html> -->