<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <body>

        <div class="main_page">
          <div class="content_section_text data">
            
            Name:&nbsp;&nbsp;&nbsp;{{first_name}} <br>
            E-mail:&nbsp;&nbsp;&nbsp;{{email}} <br>
            Phone:&nbsp;&nbsp;&nbsp;{{phone}} <br>
          </div>
          <div class="content_section floating_element">
    
    
            <div class="section_header section_header_grey">
             OBJECTIVE
            </div>
            <div class="content_section_text">
              <p>
                   To seek an entry level position in a growth oriented organization while further enhancing my skills and capabilities.
              </p>
    
    
              
            </div>
            <div class="section_header">
              ACEDEMIA
            </div>
            <div class="content_section_text">
              <table style="width:100%">
      <tr>
        <th>COLLEGE</th>
        <th>duration</th> 
        <th>GPA</th>
        <th>Relevant Courses</th>
      </tr>
      <tr>
        <td>{{school1}}</td>
        <td>{{school1startdate}}-{{school1enddate}}</td>
        <td>{{school1GPA}}</td>
        <td>{{school1Relevant_Courses}}</td>
      </tr>
      <tr>
        <td>This is a test</td>
        <td>{{company1}}</td>
        <td>{{company1position}}</td>
        <td>{{company1experience1}}</td>
        <td>{{company1experience2}}</td>
        
      </tr>
      <tr>
        <td>test</td>
        <td>{{company2}}</td>
        <td>{{company2position}}</td>
        <td>{{company2experience1}}</td>
        <td>{{company2experience2}}</td>
      </tr>
      
     
    </table>
                   
            </div>
    
    
             <div class="section_header">
              PROJECTS UNDERTAKEN
            </div>
            <div class="content_section_text">
              {{interests}}
                   
            </div>
    
             <div class="section_header">
              SKILLS
            </div>
            <div class="content_section_text">
              
                  {{technical_skills}} 
            </div>
    
    
             <div class="section_header">
              HONOUR AND ACHIEVEMENTS
            </div>
            <div class="content_section_text">
              {{Achievement2}}
                   
            </div>
    
    
             <div class="section_header">
              PERSONAL DOSSIER
            </div>
            <div class="content_section_text">
              Languages Known – {{languages}}<br>
                   
            </div>
    
    
    
    
          </div>
        </div>
    
        
      </body>






</html>